<% layout('layout') %>
    <div class="card bg-white shadow-sm rounded-sm">
        <div class="card-header border-b border-slate-400 p-4 font-medium">Product List</div>
        <div class="card-body p-4">
            <table class="w-full text-left">
                <thead>
                    <tr>
                        <th class="border border-slate-100 font-medium p-2">S. No.</th>
                        <th class="border border-slate-100 font-medium p-2">Image</th>
                        <th class="border border-slate-100 font-medium p-2">Product</th>
                        <th class="border border-slate-100 font-medium p-2">Desc</th>
                        <th class="border border-slate-100 font-medium p-2">Price</th>
                        <th class="border border-slate-100 font-medium p-2">Created Date</th>
                        <th class="border border-slate-100 font-medium p-2">Action</th>
                    </tr>
                </thead>
                <tbody class="product-list">
                    <tr>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

