<div class="card bg-white shadow-sm rounded-sm">
    <div class="card-header border-b border-slate-400 p-4 font-medium">Edit Product</div>
    <div class="card-body p-4">
        <form class="bg-white rounded-sm shadow-sm p-6 w-lg">
            <div class="flex flex-col gap-5">
                <div class="flex flex-col gap-2">
                    <label for="product_name">Product Name</label>
                    <input type="text" name="product_name" id="product_name" placeholder="Enter product name"
                        class="h-12 px-4 outline-0 w-full border border-slate-300 rounded focus:border-slate-600">
                </div>
                <div class="flex flex-col gap-2">
                    <label for="product_price">Product Price</label>
                    <input type="text" name="product_price" id="product_price" placeholder="Enter product price"
                        class="h-12 px-4 outline-0 w-full border border-slate-300 rounded focus:border-slate-600">
                </div>
                <div class="flex flex-col gap-2">
                    <label for="product_desc">Description</label>
                    <input type="text" name="product_desc" id="product_desc" placeholder="Description"
                        class="h-12 px-4 outline-0 w-full border border-slate-300 rounded focus:border-slate-600">
                </div>
                <button type="submit"
                    class="w-full rounded bg-indigo-600 outline-0 h-12 text-white font-medium">Submit</button>
            </div>
        </form>
    </div>
</div>